extends base.pug

block head
    title Рейтинг

block center-panel
    if date
        h2= 'Рейтинг на ' + date
    else
        p Рейтинг не найден
    if ratings
        table
            tr
                th(class="col-center") Игрок
                th(class="col-center") Рейтинг
            each val in ratings
                tr
                    td(class="col-left")
                        a(href= '/player/' + val.id)= val.metrixName
                    td(class="col-center")= val.rating

block right-panel
    h3 Даты
    each date in dates
        a(href= '/rating/' + date)= date
        br
