html
    head
        title Рейтинг
        style.
            body, html {
                margin: auto;
                padding: 0;
                width: 80%;
                height: 100%;
                overflow: hidden;
            }

            table, th, td {
                margin: auto;
                border: 1px solid black;
                border-collapse: collapse;
            }

            h2, h3 {
                margin: auto;
                text-align: center;
            }

    body
        if date
            h2= 'Рейтинг на ' + date
        else
            p Рейтинг не найден
        if ratings
            table
                tr
                    th Игрок
                    th Рейтинг
                each val in ratings
                    tr
                        td
                            a(href= '/player/' + val.id)= val.metrixName
                        td= val.rating
            p Даты
            each date in dates
                a(href= '/rating/' + date)= date
                br
        h3
            a(href= '/rounds') Раунды

