extends base.pug

block head
    title Раунды

block center-panel
    h2 Раунды
    table
        tr
            th(class="col-center") Название
            th(class="col-center") Дата
            th(class="col-center") Трасса
        each val in rounds
            tr
                td(class="col-left")
                    a(href= '/round/' + val.id)= val.name
                td(class="col-center")= val.datetime.toLocaleString()
                td(class="col-left")= val.courseName
